.space {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4)
}

.searchbtn {
    height: 40px;
    width: 40px;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.cancelbtn {
    height: 40px;
    width: 40px;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.loading {
    height: 500px
}

.space-img {
    width: 100%;
}

.question-icon {
    color: tomato;
    margin-right: 5;
    margin-bottom: 5;
}

.follower-icon {
    color: mediumslateblue;
    margin-right: 5;
    margin-bottom: 5;
}

.space-heading {
    color: rgb(49, 49, 49);
}

@media screen and (max-width:768px)
{
    .spaces{
        margin-top: 5rem;
    }
}
