.ql-editor{
    min-height:200px;
    max-height: 500px;
    overflow-y: scroll;
}

.form-jumbotron {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4)
}
.editor__content img{
    display: block;
    margin:5px auto;
    width: 65%;
}
