.single-question {
    margin-top: 0rem;
}

.single-question-heading {
    text-align: center;
    margin-top: 0;
    font-size: 1.3rem;
}

.add-ans-btn {
    height: 40px;
    padding-left: 2px;
    padding-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

.single-question-text {
    font-size: 0.5rem;
}

.single-question-profile-pic {
    border-radius: 50%;
    
}

.single-question-profile-name {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 5px;
}

.single-question-profile {
    margin: 0 auto;
}

.comments-profile-pic {
    width: 45%;
    height: 45%;
    margin-left: 0%;
}

.comments-data {
    font-size: x-small;
}

@media screen and (max-width:768px)
{
    .single-question{
        margin-top: 5rem;
    }
}
