.app{
    display:flex;
    position: relative;
    height:100vh;
}
.app main{
    /* padding: 24px; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.app main .btn-toggle{
    cursor: pointer;
    width: 55px;
    height: 55px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    z-index: 115;
    position: absolute;
    margin-left: 3px;
    margin-top: 10px;
    font-size: 25px;
    display: none;
}
.app main .btn-toggle:hover{
    background-color: var(--color-primary-blue);
}
@media screen and (max-width:768px)
{
    .app main .btn-toggle{
        display: flex;
    }
}
.editor__content img{
    display: block;
    margin:5px auto;
} 
